{% extends "base.html" %}
{% load static %}

{% block titulo %} Detalle de la Venta {% endblock %}
{% block extra_css %}
     <link rel="stylesheet" href="{% static 'css/detalle_venta.css' %}?v1.1">
{% endblock %}
{% block content %} 
<div class="card">
    <div class="card-header">
        <h4 class="card-title mb-0">Detalle de la Venta #{{ venta.id_venta }}</h4>
    </div>
    <div class="card-body">
        <div class="export-buttons text-left mb-4">
            <a href="{% url 'detalle_venta' venta.id %}?format=pdf" class="btn btn-export btn-primary" title="Exportar a PDF" data-bs-toggle="tooltip" data-bs-placement="top">
                <i class="fas fa-file-pdf"></i> PDF
            </a>
            <a href="{% url 'detalle_venta' venta.id %}?format=excel" class="btn btn-export btn-success" title="Exportar a Excel" data-bs-toggle="tooltip" data-bs-placement="top">
                <i class="fas fa-file-excel"></i> Excel
            </a>
        </div>
        
        <div class="venta-info">
            <p><strong>Usuario:</strong> {{ venta.usuario.username }}</p>
            <p><strong>Fecha:</strong> {{ venta.fecha }}</p>
            <p><strong>Valor Total:</strong> {{ venta.valor_total }}</p>
        </div>
        
        <h5>Detalles de la Venta</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Valor Unitario</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for detalle in venta.detalles.all %}
                <tr>
                    <td>{{ detalle.producto.nombre }}</td>
                    <td>{{ detalle.cantidad }}</td>
                    <td>{{ detalle.precio }}</td>
                    <td>{{ detalle.subtotal }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center mt-4">
            <a href="{% url 'gestionar_ventas' %}" class="btn btn-primary">Volver a la lista</a>
        </div>
    </div>
</div>
{% endblock %}
