{% extends "base.html" %}

{% block titulo %} Eliminar venta {% endblock %}

{% block content %} 
<div class="card">
    <div class="card-header">Eliminar venta</div>
    <div class="card-body">
        <h4 class="card-title">¿Estás seguro de que deseas eliminar este venta?</h4>
        <p>{{ venta.id_venta }} de {{ venta.usuario }}</p>
        <form method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Sí, eliminar">
            <a href="{% url 'gestionar_ventas' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}