{% extends "base.html" %}

{% block titulo %} Lista de Ventas {% endblock %}

{% block content %} 
<div class="card">
    <div class="card-header">
        <a href="{% url 'crear_venta' %}" class="btn btn-success">Crear nueva venta</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Ventas</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                        <th>Valor Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venta in ventas %}
                    <tr>
                        <td>{{ venta.id_venta }}</td>
                        <td>{{ venta.usuario.username }}</td>
                        <td>{{ venta.fecha }}</td>
                        <td>{{ venta.valor_total }}</td>
                        <td>
                            <a href="{% url 'detalle_venta' id=venta.id %}" class="btn btn-info">Ver</a>
                            <a href="{% url 'editar_venta' id=venta.id %}" class="btn btn-warning">Editar</a>
                            <a href="{% url 'eliminar_venta' id=venta.id %}" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <a href="{% url 'reporte_ventas_excel' %}" class="btn btn-primary" style="background-color: #4CAF50; border-color: #4CAF50;">Exportar a Excel</a>
                <a href="{% url 'reporte_ventas_pdf' %}" class="btn btn-primary" style="background-color: #f44336; border-color: #f44336;">Exportar a PDF</a>
            </table>
        </div>
    </div>
</div>
{% endblock %}
