{% extends 'base.html' %}
{% load static %}

{% block title %}Añadir Producto{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/añadir_productos.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Añadir Producto</h2>

    <form method="post" novalidate>
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
                <div class="col-md-6 mb-3 col-12"> <!-- Asegurar que en pantallas pequeñas las columnas se expandan -->
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="alert alert-danger mt-2">
                            {{ field.errors.0 }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-between flex-wrap">
            <button type="submit" class="btn btn-primary" title="Guardar producto" data-bs-toggle="tooltip" data-bs-placement="top">Guardar</button>
            <a href="{% url 'gestionar_productos' %}" class="btn btn-secondary" title="Cancelar y volver a la lista de productos" data-bs-toggle="tooltip" data-bs-placement="top">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        new Cleave('#id_precio', {
            numeral: true,
            numeralThousandsGroupStyle: 'thousand',
            numeralDecimalMark: ',',
            delimiter: '.',
            numeralPositiveOnly: true,
            numeralDecimalScale: 2
        });

        // Inicializa los tooltips
        $('[data-bs-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}
