{% extends 'base.html' %}

{% block content %}
<h2>Gestionar Usuarios</h2>

<a href="{% url 'añadir_usuario' %}" class="btn btn-primary mb-3">Añadir Usuario</a>

<form method="get" action="{% url 'filtrar_usuarios' %}">
    <div class="row mb-3">
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Buscar por nombre..." name="nombre" value="{{ request.GET.nombre }}">
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Buscar por documento..." name="documento" value="{{ request.GET.documento }}">
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Buscar por teléfono..." name="telefono" value="{{ request.GET.telefono }}">
        </div>
        <div class="col-md-3">
            <select id="estado" name="estado" class="form-control">
                <option value="">Filtrar estado (Todos)</option>
                <option value="activado" {% if request.GET.estado == "activado" %}selected{% endif %}>Activado</option>
                <option value="inactivado" {% if request.GET.estado == "inactivado" %}selected{% endif %}>Inactivado</option>
            </select>
        </div>
        <div class="col-md-12 mt-3">
            <button type="submit" class="btn btn-outline-info">Buscar</button>
        </div>
    </div>
</form>



<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Documento</th>
            <th>Teléfono</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.apellido }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.documento }}</td>
            <td>{{ usuario.telefono }}</td>
            <td>{{ usuario.estado|yesno:"Activo,Inactivo" }}</td>
            <td>
                <a href="{% url 'editar_usuario' usuario.id %}" class="btn btn-sm btn-primary">Editar</a>
                <a href="{% url 'activar_inactivar_usuario' usuario.id %}" class="btn btn-sm btn-secondary">
                    {% if usuario.estado %}Desactivar{% else %}Activar{% endif %}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <a href="{% url 'reporte_usuarios_excel' %}" class="btn btn-primary" style="background-color: #4CAF50; border-color: #4CAF50;">Exportar a Excel</a>
    <a href="{% url 'reporte_usuarios_pdf' %}" class="btn btn-primary" style="background-color: #f44336; border-color: #f44336;">Exportar a PDF</a>
    

</table>
{% endblock %}