{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 mb-5 d-flex flex-column justify-content-center" style="min-height: 80vh;">
    <h2 class="text-center mb-4">Añadir Nueva Categoría</h2>
    <form method="post" class="text-center">
        {% csrf_token %}
        
        {% for field in form %}
        <div class="form-group mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}:</label>
            <div class="mx-auto" style="max-width: 300px;">
                {{ field }}
            </div>
            {% if field.errors %}
                <div class="alert alert-danger mt-2">
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary mt-3">Guardar Categoría</button>
    </form>
    <div class="text-center mt-3">
        <a href="{% url 'gestionar_categoria' %}" class="btn btn-secondary">Volver</a>
    </div>
</div>
{% endblock %}