{% extends 'base.html' %}

{% block content %}
<h2>Gestionar Categorías</h2>

<a href="{% url 'añadir_categoria' %}" class="btn btn-primary mb-3">Añadir Categoría</a>

<form method="get" action="{% url 'filtrar_categorias' %}">
    <div class="row mb-3">
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Buscar por nombre..." name="buscar" value="{{ request.GET.buscar }}">
        </div>
        <div class="col-md-6">
            <select id="estado" name="estado" class="form-control">
                <option value="">Filtrar estado (Todos)</option>
                <option value="activado" {% if request.GET.estado == "activado" %}selected{% endif %}>Activado</option>
                <option value="inactivado" {% if request.GET.estado == "inactivado" %}selected{% endif %}>Inactivado</option>
            </select>
        </div>
        <div class="col-md-12 mt-3">
            <button type="submit" class="btn btn-outline-info">Buscar</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for categoria in categorias %}
        <tr>
            <td>{{ categoria.id }}</td>
            <td>{{ categoria.nombre }}</td>
            <td>{{ categoria.estado|yesno:"Activo,Inactivo" }}</td>
            <td>
                <a href="{% url 'editar_categoria' categoria.id %}" class="btn btn-sm btn-primary">Editar</a>
                <a href="{% url 'activar_inactivar_categoria' categoria.id %}" class="btn btn-sm btn-secondary">
                    {% if categoria.estado %}Desactivar{% else %}Activar{% endif %}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}