{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 mb-5 d-flex flex-column justify-content-center" style="min-height: 80vh;">
    <h2 class="text-center mb-4">Añadir Nueva Marca</h2>
    <form method="post" enctype="multipart/form-data" class="text-center">
        {% csrf_token %}
        
        <div class="form-group mb-3">
            <label for="{{ form.nombre.id_for_label }}" class="form-label">Nombre:</label>
            <div class="mx-auto" style="max-width: 300px;">
                {{ form.nombre }}
            </div>
            {% if form.nombre.errors %}
                <div class="alert alert-danger mt-2">
                    {% for error in form.nombre.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group mb-3">
            <label for="{{ form.logoTipo.id_for_label }}" class="form-label">Logo Tipo:</label>
            <div class="mx-auto" style="max-width: 300px;">
                {{ form.logoTipo }}
            </div>
            {% if form.logoTipo.errors %}
                <div class="alert alert-danger mt-2">
                    {% for error in form.logoTipo.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>


        <button type="submit" class="btn btn-primary mt-3">Guardar Marca</button>
    </form>
    <div class="text-center mt-3">
        <a href="{% url 'gestionar_marca' %}" class="btn btn-secondary">Volver</a>
    </div>
</div>
{% endblock %}