{% extends 'base.html' %}

{% block content %}
<h2>Gestionar Marcas</h2>

<a href="{% url 'añadir_marca' %}" class="btn btn-primary mb-3">Añadir Marca</a>

<form method="get" action="{% url 'filtrar_marcas' %}">
    <div class="row mb-3">
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Buscar por nombre..." name="buscar" value="{{ request.GET.buscar }}">
        </div>
        <div class="col-md-3">
            <select id="estado" name="estado" class="form-control">
                <option value="">Filtrar estado (Todos)</option>
                <option value="activado" {% if request.GET.estado == "activado" %}selected{% endif %}>Activado</option>
                <option value="inactivado" {% if request.GET.estado == "inactivado" %}selected{% endif %}>Inactivado</option>
            </select>
        </div>
        <div class="col-md-12 mt-3">
            <button type="submit" class="btn btn-outline-info">Buscar</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Logo</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for marca in marcas %}
        <tr>
            <td>{{ marca.id }}</td>
            <td>{{ marca.nombre }}</td>
            <td>
                {% if marca.logoTipo %}
                <img src="{{ marca.logoTipo.url }}" alt="{{ marca.nombre }}" style="width: 50px; height: 50px;">
                {% else %}
                Sin logo
                {% endif %}
            </td>
            <td>{{ marca.estado|yesno:"Activo,Inactivo" }}</td>
            <td>
                <a href="{% url 'editar_marca' marca.id %}" class="btn btn-sm btn-primary">Editar</a>
                <a href="{% url 'activar_inactivar_marca' marca.id %}" class="btn btn-sm btn-secondary">
                    {% if marca.estado %}Inactivar{% else %}Activar{% endif %}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}