{% extends "base.html" %}
{% load static %}

{% block titulo %} Detalle de la Compra {% endblock %}
{% block extra_css %}
     <link rel="stylesheet" href="{% static 'css/detalle_compra.css' %}?V1.5">
{% endblock %}
{% block content %} 
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Detalle de la Compra #{{ compra.id }}</h4>
    </div>
    <div class="card-body">
        <a href="{% url 'exportar_detalle_compra_pdf' compra.id %}" class="btn btn-export btn-primary">
            PDF
        </a>
        <a href="{% url 'exportar_detalle_compra_excel' compra.id %}" class="btn btn-export btn-success">
            EXCEL
        </a>
        
        <div class="compra-info">
            <p><strong>Usuario:</strong> {{ compra.usuario.username }}</p>
            <p><strong>Fecha:</strong> {{ compra.fecha }}</p>
            <p><strong>Valor Total:</strong> {{ compra.total_compra }}</p>
        </div>
        
        <h5>Detalles de la Compra</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Proveedor</th>
                    <th>Cantidad</th>
                    <th>Valor Unitario</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for detalle in compra.detalles.all %}
                <tr>
                    <td>{{ detalle.producto.nombre }}</td>
                    <td>{{ detalle.proveedor.nombre }}</td>
                    <td>{{ detalle.cantidad }}</td>
                    <td>{{ detalle.precio }}</td>
                    <td>{{ detalle.subtotal }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'gestionar_compras' %}" class="btn btn-primary">Volver a la lista</a>
    </div>
</div>
{% endblock %}