{% extends "base.html" %}

{% block titulo %} Eliminar compra {% endblock %}

{% block content %} 
<div class="card">
    <div class="card-header">Eliminar compra</div>
    <div class="card-body">
        <h4 class="card-title">¿Estás seguro de que deseas eliminar este compra?</h4>
        <p>{{ compra.id }} de {{ compra.usuario }}</p>
        <form method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Sí, eliminar">
            <a href="{% url 'gestionar_compras' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}